# Core Python version
# python==3.12.3

# Core logic
numpy
langchain-community
faiss-cpu
huggingface_hub

# File parsing
langchain_text_splitters==1.0.0
pymupdf
docx2txt
textract

# Web interface
gradio

# Environment variables
python-dotenv
